.about-section {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;

    &__image {
        width: 100%;
        z-index: -1;
    }

    &__feature {
        display: inline-block;
        width: 50%;
        position: relative;

        &--left {
            float: left;
        }
    }

    &__feature-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60%;

        &--left {
            margin-left: 30%;
        }

        &--right {
            margin-left: 10%;
        }
    }

    &__feature-header {
        letter-spacing: 1px;
        font-size: 3em;
        margin-top: 0;
        margin-bottom: 0.2em;

        &--no-bold {
            font-weight: normal;
        }
    }

    &__feature-desc {
        line-height: 1.7em;
        margin-bottom: 1.8em;
    }
}