.footer-section {
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    color: #b2b2b2;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 35px;

    &__footer {
        padding-bottom: 15px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    &__credits {
        padding-left: 10%;
        padding-right: 10%;
    }
}
