.offer-section {
    font-family: 'Barlow Condensed', sans-serif;
    padding-top: 10px;
    
    &__section-header {
        font-size: 2.5em;
        text-align: center;
        letter-spacing: 1px;
    }
}