@import 'home-section';
@import 'about-section';
@import 'offer-section';
@import 'portfolio-section';
@import 'team-section';
@import 'map-section';
@import 'footer-section';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-image: -moz-linear-gradient( 16deg, rgb(73, 0, 124) 0%, rgb(231, 0, 136) 100%);
    background-image: -webkit-linear-gradient( 16deg, rgb(73, 0, 124) 0%, rgb(231, 0, 136) 100%);
    background-image: -ms-linear-gradient( 16deg, rgb(73, 0, 124) 0%, rgb(231, 0, 136) 100%);
    padding: 10px 40px;
    border-radius: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.row {
//    width: 70%;
//    margin-left: 15%;

    /* 901 - 1200 */
    @media only screen and (min-width: 901px) and (max-width: 1200px) {
        width: 90%;
        margin-left: 5%;
    }
    /* > 1200 */
    @media only screen and (min-width: 1201px) {
        width: 70%;
        margin-left: 15%;
    }

    &__item {
        display: inline-block;
        width: 42.857%;

        &--left {
            float: left;
            margin-right: 7.14283%;
        }

        &--right {
            margin-left: 7.14283%;
        }
    }
}
