@import 'home-section';
@import 'about-section';
@import 'offer-section';
@import 'portfolio-section';
@import 'team-section';

.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-image: -moz-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
    background-image: -webkit-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
    background-image: -ms-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
    padding: 10px 40px;
    border-radius: 20px;
    letter-spacing: 1px;
}

.row {
    width: 70%;
    margin-left: 15%;
    
    &__item {
        display: inline-block;
        //width: 30%;
        width: 42.857%;
        
        &--left {
            float: left;
            //margin-left: 15%;
            //margin-right: 5%;
            //margin-left: 21.4285%;
            margin-right: 7.14283%;
        }
        
        &--right {
            //margin-left: 5%;
            margin-left: 7.14283%;
        }
    }
}